#search{
	height:80px;
	line-height:40px;
}
#search li{
	margin-left:2%;
}
li{
	list-style:none;
}
.layui-input-inline{
	display:inline-block;
	vertical-align:middle;	
	margin-left: 10px;
}
#search li input {
	margin-left:10px;
    width: 200px;
    height: 30px;
    border: 1px solid #d8d8d8;
}
#search .date-end{
	margin-left:0;
}
#search select{
	margin-left: 10px;
    width: 200px;
    height: 30px;
    border: 1px solid #d8d8d8;
    text-align:center;
    text-align-last: center; 
}
#search li button {
	margin-left:6px;
    height: 30px;
    line-height: 30px;
    width: 60px;
    border: 0;
    background: #316182;
    color: #fff;
}
