.description{
	margin-top:10px;
	width:100%;
	padding-left:2%;
}
.description textarea{
	width:75%;
	height:132px;
	resize:none;
}

.description button{
	margin-top:10px;
	padding:1px 6px;
}