#search{
	margin-top:10px;
	margin-bottom:10px;
}
#search li{
	margin-left: 2%;
}
#search li button {
    height: 30px;
    line-height: 30px;
    width: 60px;
    color: rgb(255, 255, 255);
    margin-left: 2%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: rgb(49, 97, 130);
}
#jqTable .ui-jqgrid-sortable, #jqTable .ui-jqgrid-sortable{
	text-align:center;
}
.linka{
	margin-top:10px;
	margin-left:2%;
}

