*{
	margin:0;
	padding:0;
}
html { 
	overflow-x: hidden; overflow-y: auto; 
}
textarea{
	width:70%;
	height:200px;
	display:block;
	margin-left:80px;
	box-sizing:border-box;
}
.it_navbar .it_navbar_info li{
	background:rgb(232,219,222);
	display:inline-block;
	border:1px solid rgb(126,117,126);
	margin-right:5px;
	font-size:14px;
	font-weight:bold;
	color:rgb(77,51,126);
}
.base_net_frame_navbar{
	width:100%;
	height:20px;
	background:rgb(230,230,221);
	margin-left:20px;
	color:black;
	font-size:14px;
	font-weight:bold;
}
.base_net_frame_body{
	width:100%;
	margin-left:20px;
	background:rgb(255,255,237);
	color:black;
	font-size:14px;
}
.bodyInfo{
	display:block;
	margin-top:5px;
}
.bodyInfo .pre{
	margin-left:40px;
	margin-top:5px;
}
.bodyInfo .pre p{
	display:inline-block;
	font-size:14px;
}
.bodyInfo button{
	display:inline-block;
	width:60px;
	height:30px;
	background:#316182;
	border-radius:3px;
	color:white;
	font-size:12px;
}
.bodyTable{
	display:block;
}
.bodyTable table{
	margin-left:155px;
}
.bodyTable table thead{
	font-weight:bold;
}
.bodyTable table td{
	border:1px solid rgb(126,117,126);
	width:55px;
	height:30px;
	text-align:center;
}
.base_net_frame_table td:nth-child(2){
	width:120px;
}
.base_net_frame_table td:nth-child(3){
	width:70.5%;
}
.pre_sys{
	margin-left:80px;
}
.pre_sys p{
	display:inline-block;
}
.appSys td:nth-child(2){
	width:120px;
}
.appSys td:nth-child(3){
	width:120px;
}
.appSys td:nth-child(4){
	width:58.1%;
}
.bodyTable .topology tbody td{
	width:965px;
	height:80px;
}
.hide_chance{
	width:100%;
	height:30px;
	margin-top:15px;
}
.hide_chance_navbar{
	width:100%;
	height:20px;
	background:rgb(230,230,221);
	margin-left:20px;
	color:black;
	font-size:14px;
	font-weight:bold;
}
.hide_chance_body{
	width:100%;
	margin-left:20px;
	background:rgb(255,255,237);
	color:black;
	font-size:14px;
}
.hide_chance_body .pre{
	margin-left:40px;
	margin-top:5px;
}
.hide_chance_body button{
	display:inline-block;
	width:60px;
	height:30px;
	background:#316182;
	font-size:12px;
	margin-left:120px;
	margin-top:5px;
	border-radius:3px;
	color:white;
}