@charset "UTF-8";
/*导航部分*/
body{overflow:hidden;}
.nav{
  margin-top:20px;
}
.nav ul{
  width: 100%;
  overflow:hidden;
  border-bottom:3px solid #8B0304;
}
.nav ul>li{
  float:left;
  width:100px;
  height:30px;
  line-height:30px;
  text-align:center;
}
.nav ul>li>a{
  font-size:16px;
}
.nav ul>li.active{
  background:#8B0304;
  font-weight: bold;
}
.nav ul>li.active a{
  color:#fff;
}

/*主体内容区域*/
h4{
  height: 36px;
  line-height: 36px;
  border: 1px solid #DEDEDE;
  background: #f0f0f0;
  padding-left: 10px;
}
.info-con{
  padding: 15px;
  border: 1px solid #DEDEDE;
  border-top: none;
}
/*收货**/
.info-con-r>div>div:first-child{
  width: 9%;
}
.info-con-r>div>div.phone-num{
  text-align: right;
}
.info-con-r>div>div{
  float: left;
  width: 22%;
  margin: 8px 0;
}
.info-con-r>div>div span{
  font-size: 1.6em;
}
.info-con-r>div>div input{
  width: 90%;
  height: 2.8em;
}
.info-con-r>div .detail-box{
  width: 64%;
}
.info-con-r>div .detail-box textarea{
  width: 100%;
  font-size: 1.4em;
  line-height: 2em;
  height: 6em;
}
.info-con-r>div .handle p{
  margin-left: 20px;
  height: 34px;
  line-height: 34px;
}
.info-con-r>div .handle p:nth-child(2){
  margin-left: 30px;
}
.info-con-r>div .handle input{
  width: 8%;
  vertical-align: bottom;
}
/**三级联动菜单开始**/
.info-con-r .location>div.province,
.info-con-r .location>div.city,
.info-con-r .location>div.district{
  height: 34px;
  width: 20%;
  margin: 5px 20px 5px 0;
}
.info-con-r .location>div select{
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}
/**三级联动菜单结束**/
/*商品*/
.product-detail-title>div{
  height: 36px;
  float: left;
  width: 15%;
  text-align: center;
  line-height: 36px;
}
.product-detail-title{
  width: 100%;
  position: absolute;
  top: 0;
  right: -9%;
}
.product-detail>div:not(.img-text){
  width: 15%;
  float: left;
  height: 140px;
  line-height: 140px;
  text-align: center;
}
.product-detail .img-text{
  width: 40%;
}
.product-detail .img-text .img{
  width: 40%;
  /*height: 140px;*/
  float: left;
}
.product-detail .img-text .text{
  width: 60%;
  float: left;
  position: relative;
  top: 20px;
  padding-left: 10px;
}
.product-detail .img-text .text a{
  font-size: 1.6em;
}
.product-detail .img-text .text span{
  color: #666;
}
.product-detail .item{
  margin-left: 40%;
  width: 60%;
}
/************/
.product-account>div{
  border-top: 1px dotted #E9E9E9;
  margin-top: 8px;
}
.product-account .invoice{
  width: 76%;
  float: left;
}
.product-account .price-detail{
  margin-left: 76%;
}
.product-account .invoice ul>li{
  padding: 6px 0;
}
.product-account .invoice ul>li.row-1 span{
  font-size: 1.6em;
  display: inline-block;
  padding-left: 8px;
}
.product-account li:not(.row-1) input[type="checkbox"]{
  margin: 0 8px 0 14px;
}
/*******/
.price-detail>ul>li{
  float: left;
  width: 50%;
  padding: 4px 8px;
}
.price-detail>ul>li:nth-child(2n+1){
  text-align: right;
}
.price-detail>ul>li:nth-child(2n){
  text-align: left;
}
.price-detail>ul>li span{
  font-size: 1.6em;
}
.price-detail>ul>li:last-child{
  width: 100%;
  text-align: center;
}
.price-detail>ul>li:last-child span{
  font-size: 1.4em;
}
.price-detail>ul>li:last-child b{
  font-size: 1.8em;
  color: #8B0304;
}
/*付款*/
.container .payment{
  text-align: right;
  padding-right: 30px;
  margin-bottom: 30px;
}
.container .payment button{
  background: #8B0304;
  outline: none;
  border: none;
  padding: 5px 30px;
  font-size: 2em;
  color: #fff;
  border-radius: 4px;
}