/* RanYang 测试设备页面   2019-3-1 */

#search{height:80px;line-height:40px;}
#search li{margin-left:2%;}
#search li input{width:180px;height:30px;border:1px solid #d8d8d8}
#search li button{height:30px;line-height:30px;width:60px;border:0;background:#316182;color:#fff;}
.layui-input-inline{margin-left:8%}
.layui-input-inline:first-child{margin-left:0}
.layui-input-inline:nth-child(4){margin-left:0}
#search li .vagueSerch{width:17%;margin-left:8.3%;margin-right:2%}